/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  top: 0;
  padding: 20px 35px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

header h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: black;
  color: grey;
  border-radius: 15px;
  text-shadow: none;
} */

/*header styles end*/

/*
.hero {
  background-image: url("./images/hero-image.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {
  width: 35%;
  text-align: left;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

/*hero styles end*/

/*
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: blue;
  padding-bottom: 20px;
  text-align: left;
  margin: 0;
  width: 25%;
}

.primary-border {
  border-color: black;
}

.intro p {
  line-height: 1.7;
  color: blue;
  width: 100%;
  margin-left: auto;
  font-size: 20px;
  text-align: top, left;
}

/*projects styles start*/


/*
.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  margin: 20px;
  flex: 1;
}

.project img {
  width: 100%;
}

.project-name h3 {
  font-size: 28px;
}

/*projects styles end*/
/*
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER 
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }

  .hero-cta {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }

  .contact-info iframe {
    flex: 1 100%;
  }
}
*/
/* MEDIA QUERY FOR TABLETS AND SMALLER 
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}
*/
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER 
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .project {
    flex: 0 100%;
  }

  .contact {
    text-align: center;
  }

  .contact > * {
    flex: 0 100%;
  }
}
*/